<?xml version="1.0" encoding="UTF-8"?>
<!--<Configuration status="WARN">-->
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%highlight{[%-5level]%d{HH:mm:ss.SSS} [%t] %c{1} - %ex{36} }%msg%n{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- TRACE DEBUG  INFO-->
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
